<form id="formBlock">
    <div class="mb-3">
        <label for="name" class="form-label">{{ 'Name'|trans }}</label>
        <input type="text" class="form-control" id="name" required>
    </div>
    <div class="mb-3">
        <label for="col" class="form-label">{{ 'Column'|trans }}</label>
        <input type="number" class="form-control" id="col" required>
    </div>
    <div class="mb-3">
        <label for="sort" class="form-label">{{ 'Sort'|trans }}</label>
        <input type="number" class="form-control" id="sort" required>
    </div>
    <div class="mb-3">
        <label for="private" class="form-check-label">
            <input type="checkbox" class="form-check-input" id="private">
            {{ 'Private'|trans }}
        </label>
    </div>
    <button type="submit" class="btn btn-primary">{{ 'Send'|trans }}</button>
</form>
