<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PGB5B975');</script>
    <!-- End Google Tag Manager -->
    <title>Welcome, aftaa!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-5.3.2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}?t={{ 'now'|date('U') }}">
    {% block css %}{% endblock %}
    <script src="{{ asset('js/bootstrap.bundle-5.3.2.js') }}"></script>
    <script src="{{ asset('js/jquery-3.7.1.js') }}"></script>
    <script src="{{ asset('js/vue-2.7.15.js') }}"></script>
    <script src="{{ asset('js/jwt-fetch.js') }}?t={{ 'now'|date('U') }}"></script>
    <script>
        Vue.config.productionTip = false;
        window.host = '{{ api_host }}';
        $(function () {
            window.modalLogin = new bootstrap.Modal('#modalLogin');
        });
    </script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGB5B975"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% include 'login/modal.html.twig' %}
{% block body %}{% endblock %}
{% block js %}{% endblock %}
<script src="{{ asset('js/jwt-exit.js') }}?t={{ 'now'|date('U') }}"></script>
</body>
</html>
